<form method="post" action="/login">
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button type="submit"> login</button>
</form>